hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "waybar"
spawn-sh-at-startup "mako --config ~/.config/mako/config"
spawn-sh-at-startup "swaybg -i ~/src/nixos/dotfiles/wall/lofi01.jpg -m fill"

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

gestures {
    hot-corners {
        off
    }
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    on

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.4
}

include "modules/binds.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/outputs.kdl"
include "modules/window-rule.kdl"
