@define-color bg    #1a1b26;
@define-color bg2   #333333;
@define-color fg    #a9b1d6;
@define-color fg2   #87afb1;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7; /* change? */
@define-color org   #ff9e64;
@define-color brblk #444b6a; 
@define-color white #ffffff;

* {
    /*font-family: "JetBrainsMono Nerd Font", monospace;*/
    font-family: "Caskaydia Mono Nerd Font", monospace;
    /*font-family: "Departure Mono Nerd Font", monospace;*/
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    margin: 4px 0px 4px 4px;
    padding: 0px 4px;
    color: @fg;
    background: transparent;
}
#workspaces button.active {
    color: @blu;
    /*background-color: @fg;*/
    border-radius: 0px;
}
#workspaces button.empty {
    color: @brblk;
}
#workspaces button.empty.active {
    color: @blu;
    /*background-color: @fg;*/
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    margin: 4px 0px 4px 4px;
    padding: 0px 4px;
    border: none;
    background: @red;
    box-shadow: none;
}

#window {
    padding: 0px 0px 0px 16px;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
    padding: 0 8px;
}

#custom-sep {
    color: @fg;
}

#clock {
    color: @fg;
    /*border-bottom: 4px solid @fg;*/
}

#battery {
    color: @fg;
}

#pulseaudio {
    color: @fg;
    /*background-color: @bg2;
    margin: 4px 4px 4px 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;*/
}

#disk {
    color: @fg;
}

#memory {
    color: @fg;
    /*background-color: @bg2;
    margin-right: 0px;
    margin: 4px 4px 4px 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;*/
}

#cpu {
    color: @fg;
    /*background-color: @bg2;
    margin: 4px 4px 4px 4px;
    padding: 4px 8px 4px 8px;
    border-radius: 6px;*/
}

#network {
    color: @ylw;
    margin-right: 8px;
}

#network.ethernet {
    color: @ylw;
}

#network.wifi {
    color: @ylw;
}

#network.disconnected {
    color: @red;
}

/*power {
    color @red;
    background-color: @bg2;
    border-radius: 4px;
    margin: 4px;
}*/

#tray {
    background-color: #2980b9;
}

