/* GRUVBOX */

@define-color bg    #282828;
@define-color fg    #ebdbb2;
@define-color blk   #1d2021;
@define-color wht   #cccccc;
@define-color red   #fb4934;
@define-color grn   #b8bb26;
@define-color ylw   #fabd2f;
@define-color blu   #83a598;
@define-color pur   #d3869b;
@define-color aqu   #8ec07c;
@define-color org   #fe8019;
@define-color brblk #111111;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border-bottom: 3px solid @bg;
    border-radius: 1px;
}
#workspaces button.active {
    color: @fg;
    border-bottom: 3px solid @fg;
    border-radius: 1px;
}
#workspaces button.empty {
    color: @blu;
    border-radius: 1px;
}
#workspaces button.empty.active {
    color: @blu;
    border-bottom: 3px solid @fg;
    border-radius: 1px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: @fg;
}

#clock {
    color: @fg;
    border-bottom: 4px solid @fg;
}

#network {
    color: @fg;
    border-bottom: 0px solid @grn;
}

#cpu {
    color: @fg;
    border-bottom: 4px solid @ylw;
}

#memory {
    color: @fg;
    border-bottom: 4px solid @blu;
}

#disk {
    color: @fg;
    border-bottom: 4px solid @pur;
}

#battery {
    color: @fg;
    border-bottom: 0px solid @aqu;
}



#window,
#workspaces {
    margin: 0 4px;
}

