@define-color bg    #1a1b26; 
@define-color bg2   #333333;
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

* {
    /*font-family: "JetBrainsMono Nerd Font", monospace;*/
    font-family: "Caskaydia Mono Nerd Font", monospace; 
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    margin: 4px 0px 4px 4px;
    padding: 0 4px;
    color: @fg;
    background: transparent;
}
#workspaces button.active {
    color: @blk;
    background-color: @fg;
    border-radius: 0px;
    /*border-bottom: 4px solid @fg;*/
}
#workspaces button.empty {
    color: @brblk;
}
#workspaces button.empty.active {
    color: @blk;
    background-color: @fg;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    border: none;
    background: @red;
    box-shadow: none;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray {
    padding: 0 8px;
    color: @white;
}

#clock {
    color: @fg;
    /*border-bottom: 4px solid @fg;*/
}

#battery {
    color: @fg;
}

#disk {
    color: @fg;
}

#memory {
    color: @fg;
    margin-right: 8px;
}

#cpu {
    color: @fg;
}

#network {
    color: @ylw;
}

#network.ethernet {
    color: @ylw;
}

#network.wifi {
    color: @cyn;
}

#network.disconnected {
    color: @red;
}

/*#power {
    color @red;
    background-color: @bg2;
    border-radius: 4px;
    margin: 4px;
}*/

#tray {
    background-color: #2980b9;
}

